@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Merriweather:wght@300&display=swap");
.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    padding: 1rem 1rem 1rem 1rem;
    font-family: "Merriweather", serif;
    color: rgb(97, 71, 71);
  }
  h3 {
    font-family: "Explora", cursive;

    color: rgb(36, 14, 14);
  }
}
@media screen and(max-width:768px) {
  .song-container{
    img{
      width: 60%;
    }
  }
  
}
